@page
@model WebApplication1.Pages.Account.LogoutModel


<h2>Вы уверены что хотите выйти из аккаунта</h2>


<br />

<form method="post">
   <input type="submit" value="Выйти" class="btn btn-outline-dark" />    
</form>