################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/TimeApp/.vs/TimeApp/v16
/TimeApp/TimeApp/bin/Debug
/TimeApp/TimeApp/obj
/IndexApp/.vs/IndexApp/v16
/IndexApp/IndexApp/bin/Debug
/IndexApp/IndexApp/obj/Debug
