################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/TimeApp/.vs/TimeApp/v16
/TimeApp/TimeApp/bin/Debug
/TimeApp/TimeApp/obj
/IndexApp/.vs/IndexApp/v16
/IndexApp/IndexApp/bin/Debug
/IndexApp/IndexApp/obj/Debug
/EquationApp/.vs/EquationApp/v16
/EquationApp/EquationApp/bin/Debug
/EquationApp/EquationApp/obj
/IndexApp/IndexApp/obj/Release
/FirstWebApp/.vs/FirstWebApp
/FirstWebApp/FirstWebApp/bin/Debug/netcoreapp3.1
/FirstWebApp/FirstWebApp/obj
/RegexpApp/.vs/RegexpApp/v16
/RegexpApp/RegexpApp/bin/Debug
/RegexpApp/RegexpApp/obj/Debug
/EntityApp/.vs/EntityApp
/EntityApp/EntityApp/bin/Debug/netcoreapp3.1
/EntityApp/EntityApp/obj
/ContosoApp/.vs/ContosoApp
/ContosoApp/WebApplication1/bin/Debug/netcoreapp3.1
/ContosoApp/WebApplication1/obj
